<div class="panel-body">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>{{ title }}</h3>
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="row col-xd-12 shape">
      <table class="table table-striped custab ">
        <thead>
          <a ui-sref="add" class="btn btn-primary btn-xs pull-right"><b><span class="glyphicon glyphicon-plus"></b>
            Novo
            Produto</a><br><br>
          <tr>
            <th>ID</th>
            <th>Cód. Barra</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="text-center">Quantidade</th>
            <th>Categoria</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tr ng-repeat="produto in produtos track by $index" ng-hide="produto.del">
          <td>{{ produto.id }}</td>
          <td>{{ produto.codbarras }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.descricao }}</td>
          <td class="text-center">{{ produto.quantidade }}</td>
          <td>{{ produto.categoria }}</td>
          <td class="text-center">

            <a ui-sref="editar({itemId: produto.id})" class='btn btn-info btn-xs btntabela' title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
            <a ng-click="apagar(produto);" class="btn btn-danger btn-xs btntabela" title="Apagar"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>